<h1>Товары</h1>

<div class="filters">
  <select id="supplierFilter">
    <option value="">Все поставщики</option>
  </select>

  <select id="categoryFilter">
    <option value="">Все категории</option>
  </select>

  <input type="text" id="searchImput" placeHolder="Поиск">

  <button id="applyFilter">Фильтр</button>
</div>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Поставщик</th>
      <th>Категория</th>
      <th>Цена</th>
      <th>Остаток</th>
    </tr>
  </thead>

  <tbody id="productsTable"></tbody>
  
  <button id="backMain">Назад</button>
</table>
