<h1>Отчёты</h1>

<label>
  Минимальные продажи:
  <input type="number" id="minSales" value="1" min="1">
</label>

<br><br>

<label>
  Начальная дата:
  <input type="date" id="startDate">
</label>

<br><br>

<label>
  Конечная дата:
  <input type="date" id="endDate">
</label>

<br><br>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Название</th>
      <th>Поставщик</th>
      <th>Продажи</th>
      <th>Цена</th>
    </tr>
  </thead>

  <tbody id="reportTable"></tbody>

</table>

<br><br>

<button id="generateReport">Сгенерировать отчёт</button>
<button id="exportExcel">Экспорт Excel</button>
<button id="backMain">Назад</button>
